.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Adds a blur effect */
}

.add-esp32-modal {
  padding: 40px 30px;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  color: white;
  width: 300px;
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.add-esp32-modal h2 {
  margin-top: 0;
}

.add-esp32-modal .form-group {
  margin-bottom: 15px;
}

.add-esp32-modal .form-group label {
  display: block;
  margin-bottom: 5px;
}

.add-esp32-modal .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
}

.add-esp32-modal .button-group {
  display: flex;
  justify-content: space-between;
}

.add-esp32-modal .button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-esp32-modal .button-group button[type="submit"] {
  background-color: #f1f1f1;
  color: #1a1a1a;
  border-radius: 20px;
}

.add-esp32-modal .button-group button[type="button"] {
  background-color: #ff0000;
  color: white;
  border-radius: 20px;
}

.error-message{
  background-color: rgb(180, 17, 17);
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
}